div {
  display: inline-block;
  position: relative;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  padding: 10px 40px;
  margin: 100px;
}

div::before{
  background-color: #58a;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: perspective(.4em) rotateX(5deg)
}