.bevel1 {
  background: #58a;
  background: linear-gradient(135deg, transparent 15px, #58a 0) top left,
              linear-gradient(-135deg, transparent 15px, #58a 0) top right,
              linear-gradient(-45deg, transparent 15px, #58a 0) bottom right,
              linear-gradient(45deg, transparent 15px, #58a 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  
  padding: 1em 1em;
  max-width: 12em;
  color: white;
  font: 150%/1.6 Baskerville, Palatino, serif;
  margin: 50px;
}

.bevel2 {
  background: #58a;
  background: radial-gradient(circle at top left, transparent 15px, #58a 0) top left,
              radial-gradient(circle at top right, transparent 15px, #58a 0) top right,
              radial-gradient(circle at bottom right, transparent 15px, #58a 0) bottom right,
              radial-gradient(circle at bottom left, transparent 15px, #58a 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  
  padding: 1em 1em;
  max-width: 12em;
  color: white;
  font: 150%/1.6 Baskerville, Palatino, serif;
  margin: 50px;
}