.image-slider {
  position:relative;
  display: inline-block;

  max-height: 600px;
}

.image-slider > div {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 10%;
  max-width: 100%;
  overflow: hidden;
  resize: horizontal;
}

.image-slider > div::before {
  content: '';
  position: absolute;
  right: 0; bottom: 0;
  width: 20px; height: 20px;
  padding: 5px;
  background: linear-gradient(-45deg, white 50%, transparent 0);

  background-clip: content-box;
  cursor: ew-resize;
  -webkit-filter: drop-shadow(0 0 2px black);
  filter: drop-shadow(0 0 2px black);
}