.button {
  position: relative;
  background: transparent;
  display: inline-block;
  font-family: sans-serif;
  font-size: 50px;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  padding: 10px 90px;
  margin: 50px;
}

.button::before {
    content: ''; 
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    background: #58a;
    transform: skew(-45deg);
}